* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header{
     padding: 30px 0;
     

}
.header-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    

}
.header-list a {
    color: black;
    text-decoration: none;
}

.header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 41px;
    border-radius: 10px;
    background-color: black;
    color: white;
    white-space: nowrap;
    
}
h1{
    width: 280px;
    height: 280px;
}
.section-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 168px;
    height: 59px;
    gap: 10px;
    border-radius: 6px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    background-color:#1AAB7B ;
    color: white;

}
.section-wraper{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 250px;
}


.web-section{
    background-color: #F2F4F6;
}

.web-h1{
    margin-top: 70px;
    width: 400px;
}

.web-wraper{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card {
    width: 250px;
    height: 210px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
     margin-bottom: auto;
}

.card h2 {
    margin: 10px  18px;
}



.card a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 1000px;
    height: 500px;
    margin: auto;
    
    

}
.card1{
     width: 250px;
    height: 210px;
    padding: 20px;
    background-color: #18ad83;
    border-radius: 5px;
    color: white;

}
.card1 a{
    text-decoration: underline;
    color: #ffffff;
}
.call{
    width: 1216;
    height: 772;

}
.call-h1{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.call-info{

    padding: 20px;
    
    
}
.call-list1{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 464px;
    height: 46px;
}
.call-list2{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 464px;
    height: 46px;

}
.call-list3{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 464px;
    height: 46px;
}
footer{
    width: 1440;
    height: 300;
    background-color: black;
    display: flex;
    justify-content: end;
    
}
.pixer-wrapper{
    
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
    
}
.pixer-img{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 900px;

}